.produtos {
    max-width: 900px;
    margin: var(--gap-large) auto 0 auto;
}

/* produto */
.produtos .produto {
    display: flex;
    align-items: center;
    margin-bottom: var(--gap-small);
    background: var(--color-secondary);
    box-shadow: 0 0 2rem rgba(0,0,0,.1);
    cursor: pointer;
}

/* imagem do produto */
.produtos .produto_img {
    max-width: 300px;
    margin-right: var(--gap-small);
}

/* preco do produto */
.produtos .produto_preco {
    color: var(--color-primary-light);
}

@media screen and (max-width: 900px) {
    .produtos {
        margin-top: var(--gap-small);
    }

    /* produto */
    .produtos .produto {
        flex-direction: column;
        align-items: flex-start;
        max-width: 80vw;
        margin: var(--gap-smaller) auto;
    }

    /* dados do produto */
    .produtos .produto_info {
        padding: var(--gap-smaller);
    }

    /* imagem do produto */
    .produtos .produto_img {
        max-width: 100%;
    }

}
